### Docs ###
build/
cache/

### PHP ###

/bootstrap/compiled.php
/vendor

composer.phar
.DS_Store
Thumbs.db

/conf
.idea
/.settings
.env.*.php
.env.php

# sublime phpintel plugin
/.phpintel

/node_modules
node_modules

src/Modules/Brick/.history/
src/Modules/Brick/node_modules
/src/Modules/Brick/node_modules
