@multiple-tailwind ../../../../tailwind.stone.config.js;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-background-primary: #232135;
    --bg-background-secondary: #5D6289;
    --bg-background-tertiary: #F2F4F8;

    --text-dyn-color-primary: #7575a3;
    --text-dyn-color-secondary: #141322;
    --text-dyn-color-tertiary: #7575a3;
    --text-dyn-color-light: #AEAEE0;
    --kit-font-family: 'Mukta', sans-serif;

    --el-button-text-color: #232135;
    --el-button-disabled-text-color: #ADADAD;

    --color-primary: #7575a3;
    --el-overlay-color-lighter: rgb(0 0 0 / 0%);
}

/*.el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2), .el-tabs--bottom .el-tabs__item.is-top:nth-child(2), .el-tabs--top .el-tabs__item.is-bottom:nth-child(2), .el-tabs--top .el-tabs__item.is-top:nth-child(2){*/
/*    padding-left: 8px*/
/*}*/

.el-tabs__item {
    padding-left: 0px
}

/*.light-mode {*/
/*}*/

/*.dark-mode {*/
/*    --text-dyn-color-primary: #0C0C1B;*/
/*    --text-dyn-color-secondary: #141322;*/
/*    --text-dyn-color-tertiary: #7575a3;*/
/*}*/
/*html .tw-text-specify-light {*/
/*    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);*/
/*    background-image: -webkit-linear-gradient(315deg, rgb(66, 211, 146) 25%, rgb(100, 126, 255));*/
/*    background-position-x: initial;*/
/*    background-position-y: initial;*/
/*    background-size: initial;*/
/*    background-repeat-x: initial;*/
/*    background-repeat-y: initial;*/
/*    background-attachment: initial;*/
/*    background-origin: initial;*/
/*    background-clip: initial;*/
/*    background-color: initial;*/
/*    background-clip: text;*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*}*/

*, :before, :after {
    box-sizing: border-box;
}
.volcator-dialog > .el-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    height: 100%;
    background-color:  rgb(0 0 0 / 0%) !important;
    overflow: auto;
    box-shadow: none;
}

.volcator-dialog > .el-overlay > .el-overlay-dialog > .el-dialog {
    box-shadow: none !important;
    background: transparent !important;
}

